#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <zmk-helpers/helper.h>
#include <zmk-helpers/key-labels/34.h>

#include "cradio/defs.dtsi"
#include "cradio/hrm.dtsi"
#include "cradio/tap-dances.dtsi"
#include "cradio/hold-tap.dtsi"
#include "cradio/macros.dtsi"
#include "cradio/combos.dtsi"
#include "cradio/leader.dtsi"
#include "cradio/mouse.dtsi"
#include "cradio/layer-bindings.dtsi"

ZMK_BASE_LAYER(En,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp Q         &kp W         &kp F         &kp P         &kp B       ,   &kp J         &kp L         &kp U         &kp Y         &sqt_dqt    ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hml LGUI A   &hml LALT R   &hml LCTRL S  &hml LSHFT T  &kp G       ,   &kp M         &hmr RSHFT N  &hmr RCTRL E  &hmr RALT I   &hmr RGUI O ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp Z         &kp X         &kp C         &kp D         &kp V       ,   &kp K         &kp H         &comma_semi   &dot_colon    &qmark_excl ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &tog NAS    _SPACE_SL_FK_ ,   &kp ENTER     &tog NAV
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Ru,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &uc UC_RU_BI  &uc UC_RU_K   &uc UC_RU_L   &uc UC_RU_B   &ru_ch_ts   ,   &ru_sh_shch   &ru_u_yu     &uc UC_RU_YA   &uc UC_RU_E   &sqt_dqt    ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                        _HML_RU_KEYS_                       &uc UC_RU_D ,   &ru_i_y                           _HMR_RU_KEYS_                     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &ru_kh_zh     &uc UC_RU_P   &uc UC_RU_R   &uc UC_RU_M   &uc UC_RU_G ,   &uc UC_RU_F  &ru_soft_hard  &comma_semi   &dot_colon    &qmark_excl ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &tog NAS    _SPACE_SL_FK_ ,   &kp ENTER     &tog NAV
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &buffer_emoji  &kp HOME      &kp UP        &kp END       &kp LC(Y)   ,   XXX           XXX           XXX           XXX           XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp LS(TAB)    &kp LEFT      &kp DOWN      &kp RIGHT     &kp TAB     ,   XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp LGUI    ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &tog MOUSE    &kp LC(C)     &kp LC(S)     &kp LC(V)     &kp LC(Z)   ,   XXX           XXX           XXX           XXX           XXX         ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                             &kp LC(LEFT) &kp LC(RIGHT) ,   &kp ENTER     ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Mouse,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           &kp PG_UP     U_MS_U        &kp PG_DN     ___         ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    U_WH_L        U_MS_L        U_MS_D        U_MS_R        U_WH_R      ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &mkp RCLK     &mkp MCLK     &mkp LCLK     ___         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              U_WH_U        U_WH_D      ,   ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Nas,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp PLUS      &kp N1        &kp N2        &kp N3        &fslh_bslh  ,     &grave        &hash_no      &kp AT        &kp PRCNT     &sqt_dqt    ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp N0        &kp N4        &kp N5        &kp N6        &kp EQUAL   ,     &amps_pipe    &lpar_rpar    &lbrc_rbrc    &lbkt_rbkt    &lt_gt      ,
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp STAR      &kp N7        &kp N8        &kp N9        &kp MINUS   ,     &dllr_tilde   &under_caret  &comma_semi   &dot_colon    &qmark_excl ,
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               ___           &kp SPACE   ,     &kp ENTER     &key_repeat
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Fk,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp F11       &kp F1        &kp F2        &kp F3        &kp WINSCST ,   &kp PSCRN     &kp F15       &kp F14       &kp F13       &kp F23     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp F10       &kp F4        &kp F5        &kp F6        XXX         ,   XXX           &kp F18       &kp F17       &kp F16       &kp F22     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp F12       &kp F7        &kp F8        &kp F9        XXX         ,   XXX           &kp F21       &kp F20       &kp F19       &kp F24     ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           ___         ,   XXX           XXX
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

ZMK_BASE_LAYER(Game,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp T         &kp Q         &kp W         &kp E         &kp R       ,   XXX           XXX           XXX           XXX           &to EN      ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LSHFT     &kp A         &kp S         &kp D         &kp F       ,   XXX           XXX           XXX           XXX           XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LCTRL     &kp Z         &kp X         &kp C         &kp V       ,   XXX           XXX           XXX           XXX           XXX         ,
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &lt NAS B     _SPACE_ALT_ ,   XXX           XXX
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)
