/*
                  KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ LH1 LH0 │ │ RH0 RH1 ╭───────────╯
              ╰─────────╯ ╰─────────╯
*/

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(lldrk, &leader, LM4 LM0, EN RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rldrk, &leader, RM0 RM4, EN RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(to_g_a, &to_game_layer, RB0 RB4, EN RU NAV NAS MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(to_en_from_g_a, &to_en_layer, RB0 RB4, G_A, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(cut, &kp LC(X), LB3 LB1, NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(caps_word, &caps_word, LB1 LB0, EN RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(esc, &kp ESC, LT4 LT0, EN RU NAV NAS G_A, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(bspc_l, &kp BSPC, LT2 LT1, EN RU NAV NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(del_l, &kp DEL, LT3 LT2, EN RU NAV NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc_r, &kp BSPC, RT1 RT2, EN RU NAV NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(del_r, &kp DEL, RT2 RT3, EN RU NAV NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(g_win_tab, &kp LG(TAB), LT4 LB0, G_A, COMBO_TERM_FAST, COMBO_IDLE_FAST)
