/*
                  KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮     LH1 LH0 │ │ RH0 RH1     ╭───────╯
          ╰─────────────╯ ╰─────────────╯
*/

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(lldrk, &leader, LM2 LM1, EN RU NAV MOUSE NAS GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LCTRL), KEYS_R)
ZMK_COMBO(rldrk, &leader, RM1 RM2, EN RU NAV MOUSE NAS GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(RCTRL), KEYS_L)

ZMK_COMBO(to_ru, &to RU, LT1 LT0, EN, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(to_en, &to EN, LT1 LT0, RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(esc, &kp ESC, LT4 LT3, EN RU NAV MOUSE NAS GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(caps_word, &caps_word, LB1 LB0, EN RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(cut, &kp LC(X), LB3 LB1, NAV, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(del, &kp DEL, RT2 RT3, EN RU NAV MOUSE NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc, &kp BSPC, RT1 RT2, EN RU NAV MOUSE NAS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(game_f1, &kp F1, LT3 LT2, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f2, &kp F2, LT2 LT1, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f3, &kp F3, LT1 LT0, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f4, &kp F4, LM3 LM2, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f5, &kp F5, LM2 LM1, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f6, &kp F6, LM1 LM0, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f7, &kp F7, LB3 LB2, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f8, &kp F8, LB2 LB1, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(game_f9, &kp F9, LB1 LB0, GAME, COMBO_TERM_FAST, COMBO_IDLE_FAST)
