// SEE: https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)          \
    ZMK_HOLD_TAP(                                       \
        NAME,                                           \
        bindings = <HOLD>, <TAP>;                       \
        flavor = "balanced";                            \
        tapping-term-ms = <280>;                        \
        quick-tap-ms = <QUICK_TAP_MS>;                  \
        require-prior-idle-ms = <150>;                  \
        hold-trigger-on-release;                        \
        hold-trigger-key-positions = <TRIGGER_POS>;     \
    )

// HACK: Make HRM combos tap-only
#define ZMK_COMBO_8(NAME, TAP, POS, LAYERS, COMBO_MS, IDLE_MS, HOLD, SIDE)     \
  MAKE_HRM(hm_combo_##NAME, &kp, TAP, SIDE THUMBS)                             \
  ZMK_COMBO_6(NAME, &hm_combo_##NAME HOLD 0, POS, LAYERS, COMBO_MS, IDLE_MS)

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS)
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS)

MAKE_HRM(hml_ru, &kp, &uc, KEYS_R THUMBS)
MAKE_HRM(hmr_ru, &kp, &uc, KEYS_L THUMBS)
