#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

ZMK_LEADER_SEQUENCE(bt_0, &bt BT_SEL 0, B T N0)
ZMK_LEADER_SEQUENCE(bt_1, &bt BT_SEL 1, B T N1)
ZMK_LEADER_SEQUENCE(bt_clear, &bt BT_CLR, B T C)

ZMK_LEADER_SEQUENCE(boot, &bootloader, B O O T)
ZMK_LEADER_SEQUENCE(reset, &sys_reset, R E S E T)

ZMK_LEADER_SEQUENCE(ide_goto_file, &kp F, G T F)
ZMK_LEADER_SEQUENCE(ide_goto_line, &kp L, G T L)
