ZMK_MACRO(to_en_layer, bindings = <&kp SET_EN &to EN>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(to_ru_layer, bindings = <&kp SET_RU &to RU>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(to_game_layer, bindings = <&kp SET_EN &to G_A>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(to_nas_layer, bindings = <&kp SET_EN &to NAS>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(to_nav_layer, bindings = <&kp SET_EN &to NAV>; wait-ms = <0>; tap-ms = <5>;)

ZMK_MACRO(open_ru_chat, bindings = <&to_ru_layer &kp OPEN_CHAT>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(open_global_ru_chat, bindings = <&to_ru_layer &kp OPEN_GLOBAL_CHAT>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(open_en_chat, bindings = <&to_en_layer &kp OPEN_CHAT>; wait-ms = <0>; tap-ms = <5>;)
ZMK_MACRO(open_global_en_chat, bindings = <&to_en_layer &kp OPEN_GLOBAL_CHAT>; wait-ms = <0>; tap-ms = <5>;)
