ZMK_MACRO(graves, bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;)

ZMK_MACRO(ru_z_macro, bindings = <&uc UC_RU_Z>;)
ZMK_MACRO(ru_v_macro, bindings = <&uc UC_RU_V>;)
ZMK_MACRO(ru_n_macro, bindings = <&uc UC_RU_N>;)
ZMK_MACRO(ru_t_macro, bindings = <&uc UC_RU_T>;)

ZMK_MACRO(ru_a_macro, bindings = <&uc UC_RU_A>;)
ZMK_MACRO(ru_o_macro, bindings = <&uc UC_RU_O>;)
ZMK_MACRO(ru_ye_macro, bindings = <&ru_ye_yo>;)
ZMK_MACRO(ru_s_macro, bindings = <&uc UC_RU_S>;)
