ZMK_TAP_DANCE(sqt_dqt, bindings = <&kp SQT>, <&kp DQT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(comma_semi, bindings = <&kp COMMA>, <&kp SEMI>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(dot_colon, bindings = <&kp DOT>, <&kp COLON>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(qmark_excl, bindings = <&kp QMARK>, <&kp EXCL>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(fslh_bslh, bindings = <&kp FSLH>, <&kp BSLH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(grave, bindings = <&kp GRAVE>, <&graves>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(hash_no, bindings = <&kp HASH>, <&uc 0x2116 0>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(amps_pipe, bindings = <&kp AMPS>, <&kp PIPE>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(lpar_rpar, bindings = <&kp LPAR>, <&kp RPAR>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(lbrc_rbrc, bindings = <&kp LBRC>, <&kp RBRC>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(lbkt_rbkt, bindings = <&kp LBKT>, <&kp RBKT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(lt_gt, bindings = <&kp LT>, <&kp GT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(dllr_tilde, bindings = <&kp DLLR>, <&kp TILDE>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(under_caret, bindings = <&kp UNDER>, <&kp CARET>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(buffer_emoji, bindings = <&kp LG(V)>, <&kp LG(DOT)>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_ye_yo, bindings = <&uc UC_RU_YE>, <&uc UC_RU_YO>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_kh_zh, bindings = <&uc UC_RU_KH>, <&uc UC_RU_ZH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_ch_ts, bindings = <&uc UC_RU_CH>, <&uc UC_RU_TS>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_soft_hard, bindings = <&uc UC_RU_SOFT>, <&uc UC_RU_HARD>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_i_y, bindings = <&uc UC_RU_I>, <&uc UC_RU_Y>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_sh_shch, bindings = <&uc UC_RU_SH>, <&uc UC_RU_SHCH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_u_yu, bindings = <&uc UC_RU_U>, <&uc UC_RU_YU>;
              tapping-term-ms = <200>;)
