ZMK_TAP_DANCE(sqt_dqt, bindings = <&kp SQT>, <&kp DQT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(comma_semi, bindings = <&kp COMMA>, <&kp SEMI>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(dot_colon, bindings = <&kp DOT>, <&kp COLON>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(qmark_excl, bindings = <&kp QMARK>, <&kp EXCL>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(fslh_bslh, bindings = <&kp FSLH>, <&kp BSLH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(amps_pipe, bindings = <&kp AMPS>, <&kp PIPE>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(dllr_tilde, bindings = <&kp DLLR>, <&kp TILDE>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(under_caret, bindings = <&kp UNDER>, <&kp CARET>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(lpar_rpar_shift, bindings = <&mt LSHIFT LPAR>, <&kp RPAR>;
              tapping-term-ms = <200>;)
ZMK_TAP_DANCE(lbrc_rbrc_ctrl, bindings = <&mt LCTRL LBRC>, <&kp RBRC>;
              tapping-term-ms = <200>;)
ZMK_TAP_DANCE(lbkt_rbkt_alt, bindings = <&mt LALT LBKT>, <&kp RBKT>;
              tapping-term-ms = <200>;)
ZMK_TAP_DANCE(lt_gt_gui, bindings = <&mt LGUI LT>, <&kp GT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(to_en_or_mouse, bindings = <&to_en_layer>, <&mouse_smart MOUSE>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ctrl_alt, bindings = <&kp LCTRL>, <&kt LALT>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_ye_yo_alt, bindings = <&mt LALT RU_YE>, <&kp RU_YO>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_kh_zh, bindings = <&kp RU_KH>, <&kp RU_ZH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_ch_ts, bindings = <&kp RU_CH>, <&kp RU_TS>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_soft_hard, bindings = <&kp RU_SOFT>, <&kp RU_HARD>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_i_y, bindings = <&kp RU_I>, <&kp RU_Y>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_sh_shch, bindings = <&kp RU_SH>, <&kp RU_SHCH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_u_yu, bindings = <&kp RU_U>, <&kp RU_YU>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_fslh_bslh, bindings = <&kp RU_SLASH>, <&kp BSLH>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_ca_si, bindings = <&kp RU_COMMA>, <&kp RU_SEMI>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_dt_cn, bindings = <&kp RU_DOT>, <&kp RU_COLON>;
              tapping-term-ms = <200>;)

ZMK_TAP_DANCE(ru_qk_el, bindings = <&kp RU_QMARK>, <&kp EXCL>;
              tapping-term-ms = <200>;)
